<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.medicodb.com" class="navbar-brand">
                Store</a></div>

        <ul class="nav navbar-nav">
            <li><a routerLink="/welcome/in28minutes" class="nav-link">Home</a></li>
            <li><a routerLink="/stores" class="nav-link">Stores</a></li>
            <li><a routerLink="/usertypes" class="nav-link">User Type</a></li>
        </ul>


        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>